main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

img {
  width: 500px;
}

body {
  font-size: 20px;
}

span {
  font-size: 1.5em;
  padding: 5px 10px;
}

.btn {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  color: white;
  background-color: #4a8fd6;
  text-decoration: none;
}

#cta {
  padding: 10px 20px;
  background-color: cadetblue;
  color: white;
}

.highlight {
  color: darkorchid;
  font-weight: bold;
}
